
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "DanaMedium";
    overflow-wrap: break-word;
  }
}

:root {
  --primary: #ffb52a;
  --primary-50: #F9F9F6;
  --primary-100: #e7f0d6;
  --primary-200: #d7e6bd;
  --primary-300: #c8dca5;
  --primary-400: #bcd492;
  --primary-500: #b1cc81;
  --primary-600: #8ea76b;
  --primary-700: #7c9262;
  --primary-800: #5f6f52;
  --primary-900: #30342C;
  --primary-950: #282C25;
  --special-color:#FDFADE;
}

@layer base {
  @font-face {
    font-family: "DanaMedium";
    src: url("../fonts/DanaFaNum-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "DanaRegular";
    src: url("../fonts/DanaFaNum-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "DanaBold";
    src: url("../fonts/DanaFaNum-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: "DanaMedium", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif !important;
  }
}

@layer components {
  .btn {
    @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded;
  }
}



.h1-tag {
  position: absolute;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}


.c-container {
  margin-inline: auto;
  max-width: 1280px;
}

a, button {
  cursor: pointer;
}

.ease {
  transition: 0.6s ease-in-out;
}

.btn-bw {
  border-radius: 50px;
  border: 1px solid white;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DanaRegular";
  position: relative;
  overflow: hidden;
  transition: 0.6s ease;
}

.btn-bw:hover {
  border: 1px solid var(--special-color);
  color: var(--special-color);

}
.c-container {
  margin-inline: auto;
  max-width: 1280px;
}

.danaBold {
  font-family: "DanaBold";
}

.danaRegular {
  font-family: "DanaRegular";
}


