/*<!--------------------------init CSS------------------------------->*/
@font-face {
    font-family: "DanaMedium";
    src: url("../fonts/DanaFaNum-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DanaRegular";
    src: url("../fonts/DanaFaNum-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DanaBold";
    src: url("../fonts/DanaFaNum-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}


.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "DanaMedium";
    direction: ltr;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c-container {
    margin-inline: auto;
    max-width: 1280px;
}

.danaBold {
    font-family: "DanaBold";
}

.danaRegular {
    font-family: "DanaRegular";
}

:root {
    /*color*/
    --color-1: #fdfade;

    /*bg*/
    --bg-main: url("../images/bg-main.png");
}

a, button {
    cursor: pointer;
}

.ease {
    transition: 0.6s ease-in-out;
}

.btn-bw {
    border-radius: 50px;
    border: 1px solid white;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DanaRegular";
}

.bg-color-1 {
    background: var(--color-1);
}

.text-color-1 {
    color: var(--color-1);
}

/*<!--------------------------init CSS------------------------------->*/


.s-main {
    background: var(--bg-main) no-repeat 50% 27%;
    background-size: cover;
    border-radius: 30px;
}

.col-video {

.t-bg {
    width: 110px;
    height: 76px;
    opacity: 1;
    border-top-left-radius: 17px;
    background: #5F6F52;
}

.b-bg {
    width: 110px;
    height: 76px;
    rotate: 180deg;
    opacity: 1;
    border-top-left-radius: 17px;
    background: #BCD492;

}

}
.box-video {

img {
    box-shadow: 0 10px 20px 0 #00000030;
}

}

.back-img {
    backdrop-filter: blur(1px);
    background: linear-gradient(180deg, rgba(89, 31, 0, 0) 44.2%, #381500 100%);
    opacity: 0.5;
}

.p-service {

.bg {
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 48.67%, rgba(0, 0, 0, 0.81) 100%);
}

}



/*custom-style*/
.swiper-pagination-tour{
    width: auto;
}


/*style-tab*/
.btn-tab.active , .btn-tab-hotel.active , .btn-tab-blog.active{
    background-color: #18181B;
    color: white;
}

.tab-content , .tab-content-hotel , .tab-content-blog{
    display: none;
}

.tab-content.active , .tab-content-hotel.active , .tab-content-blog.active{
    display: block;
}

.your-svg-container {
    width: 100%;
    height: auto;
}



/*section-tour*/
.s-main-tour {
    background: url("../images/s-main-tour.jpg") no-repeat 50% 27%;
    background-size: cover;
    position: relative;
}

.s-main-tour:after {
    content: '';
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 72.39%, rgba(0, 0, 0, 0.78) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


/*section-hotel*/
.s-main-hotel {
    background: url("../images/s-main-hotel.jpg") no-repeat 50% 27%;
    background-size: cover;
    border-radius: 30px;
    position: relative;
}

.s-main-hotel:after {
    content: '';
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 72.39%, rgba(0, 0, 0, 0.78) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}


/*section-blog*/
.s-main-blog {
    background: url("../images/s-main-bog.png") no-repeat 50% 27%;
    background-size: cover;
    border-radius: 30px;
    position: relative;
}

.s-main-blog:after {
    content: '';
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 72.39%, rgba(0, 0, 0, 0.78) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

/*section-about*/
.s-main-about {
    background: url("../images/bg-main-about.png") no-repeat 50% 27%;
    background-size: cover;
    border-radius: 30px;
    position: relative;
}

.s-main-about:after {
    content: '';
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 72.39%, rgba(0, 0, 0, 0.78) 100%),
    linear-gradient(180deg, rgba(40, 44, 37, 0.77) 0%, #282C25 100%);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
