@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-primary: #ffb52a;
    --text-primary-50: #F9F9F6;
    --text-primary-100: #e7f0d6;
    --text-primary-200: #d7e6bd;
    --text-primary-300: #c8dca5;
    --text-primary-400: #bcd492;
    --text-primary-500: #b1cc81;
    --text-primary-600: #8ea76b;
    --text-primary-700: #7c9262;
    --text-primary-800: #5f6f52;
    --text-primary-900: #30342C;
    --text-primary-950: #282C25;
    --special-color:#FDFADE;


    /*color*/
    --color-1: #fdfade;

    /*bg*/
    --bg-main: url("../images/bg-main.png");
}
@layer utilities {
    /*color*/
    .text-primary-50 { color: var(--text-primary-50); }
    .text-primary-100 { color: var(--text-primary-100); }
    .text-primary-200 { color: var(--text-primary-200); }
    .text-primary-300 { color: var(--text-primary-300); }
    .text-primary-400 { color: var(--text-primary-400); }
    .text-primary-500 { color: var(--text-primary-500); }
    .text-primary-600 { color: var(--text-primary-600); }
    .text-primary-700 { color: var(--text-primary-700); }
    .text-primary-800 { color: var(--text-primary-800); }
    .text-primary-900 { color: var(--text-primary-900); }
    .text-primary-950 { color: var(--text-primary-950); }
    /*background*/
    .bg-primary-50 { background: var(--text-primary-50); }
    .bg-primary-100 { background: var(--text-primary-100); }
    .bg-primary-200 { background: var(--text-primary-200); }
    .bg-primary-300 { background: var(--text-primary-300); }
    .bg-primary-400 { background: var(--text-primary-400); }
    .bg-primary-500 { background: var(--text-primary-500); }
    .bg-primary-600 { background: var(--text-primary-600); }
    .bg-primary-700 { background: var(--text-primary-700); }
    .bg-primary-800 { background: var(--text-primary-800); }
    .bg-primary-900 { background: var(--text-primary-900); }
    .bg-primary-950 { background: var(--text-primary-950); }
    /*border*/
    .border-primary-50 { border-color: var(--text-primary-50); }
    .border-primary-100 { border-color: var(--text-primary-100); }
    .border-primary-200 { border-color: var(--text-primary-200); }
    .border-primary-300 { border-color: var(--text-primary-300); }
    .border-primary-400 { border-color: var(--text-primary-400); }
    .border-primary-500 { border-color: var(--text-primary-500); }
    .border-primary-600 { border-color: var(--text-primary-600); }
    .border-primary-700 { border-color: var(--text-primary-700); }
    .border-primary-800 { border-color: var(--text-primary-800); }
    .border-primary-900 { border-color: var(--text-primary-900); }
    .border-primary-950 { border-color: var(--text-primary-950); }
    .text-color-1{color: var(--special-color);}
}

.swiper-pagination-bullet-active{
    background: var(--text-primary-600);
}
input::placeholder{
    color: var(--text-primary-800);
}
.swiper-service{
    padding-bottom: 5rem !important;
}

.h1-default {
    position: absolute;
    width: 1px;
    padding: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
    clip: rect(0, 0, 0, 0);
}


/*<!--------------------------init CSS------------------------------->*/
@font-face {
    font-family: "DanaMedium";
    src: url("../fonts/DanaFaNum-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DanaRegular";
    src: url("../fonts/DanaFaNum-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DanaBold";
    src: url("../fonts/DanaFaNum-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}


.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "DanaMedium";
    direction: ltr;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c-container {
    margin-inline: auto;
    max-width: 1280px;
}

.danaBold {
    font-family: "DanaBold";
}

.danaRegular {
    font-family: "DanaRegular";
}


a, button {
    cursor: pointer;
}

.ease {
    transition: 0.6s ease-in-out;
}

.btn-bw {
    border-radius: 50px;
    border: 1px solid white;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DanaRegular";
}

.bg-color-1 {
    background: var(--color-1);
}

.text-color-1 {
    color: var(--color-1);
}

input, a, button {
    outline: none;
}
a,button{
    cursor: pointer;
}
/*<!--------------------------init CSS------------------------------->*/


.s-main {
    background: var(--bg-main) no-repeat 50% 27%;
    background-size: cover;
    border-radius: 30px;
}

.col-video {

    .t-bg {
        width: 110px;
        height: 76px;
        opacity: 1;
        border-top-left-radius: 17px;
        background: #5F6F52;
    }

    .b-bg {
        width: 110px;
        height: 76px;
        rotate: 180deg;
        opacity: 1;
        border-top-left-radius: 17px;
        background: #BCD492;

    }

}
.box-video {

    img {
        box-shadow: 0 10px 20px 0 #00000030;
    }

}

.back-img {
    backdrop-filter: blur(1px);
    background: linear-gradient(180deg, rgba(89, 31, 0, 0) 44.2%, #381500 100%);
    opacity: 0.5;
}

.p-service {

    .bg {
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 48.67%, rgba(0, 0, 0, 0.81) 100%);
    }

}



/*custom-style*/
.swiper-pagination-tour{
    width: auto;
}


/*style-tab*/
.btn-tab.active , .btn-tab-hotel.active , .btn-tab-blog.active{
    background-color: #18181B;
    color: white;
}

.tab-content , .tab-content-hotel , .tab-content-blog{
    display: none;
}

.tab-content.active , .tab-content-hotel.active , .tab-content-blog.active{
    display: block;
}

.your-svg-container {
    width: 100%;
    height: auto;
}



/*section-tour*/
.s-main-tour {
    background: url("../images/s-main-tour.jpg") no-repeat 50% 27%;
    background-size: cover;
    position: relative;
}

.s-main-tour:after {
    content: '';
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 72.39%, rgba(0, 0, 0, 0.78) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


/*section-hotel*/
.s-main-hotel {
    background: url("../images/s-main-hotel.jpg") no-repeat 50% 27%;
    background-size: cover;
    border-radius: 12px;
    position: relative;
}

.s-main-hotel:after {
    content: '';
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 72.39%, rgba(0, 0, 0, 0.78) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


/*section-blog*/
.s-main-blog {
    background: url("../images/s-main-bog.png") no-repeat;
    background-size: cover;
    border-radius: 12px;
    position: relative;
}

.s-main-blog:after {
    content: '';
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 72.39%, rgba(0, 0, 0, 0.78) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/*section-about*/
.s-main-about {
    background: url("../images/bg-main-about.png") no-repeat 50% 27%;
    background-size: cover;
    border-radius: 12px;
    position: relative;
}

.s-main-about:after {
    content: '';
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 72.39%, rgba(0, 0, 0, 0.78) 100%),
    linear-gradient(180deg, rgba(40, 44, 37, 0.77) 0%, #282C25 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

